#item_container
	#newupdate_container
		= form_for @update, :as => :update, :url => { :action => :create } do |f|
			= check_box_tag :tweet, value = 1, checked = true
			= f.label "Post to twitter?"
			.clear.medium
			= f.text_area :body, :cols => 65, :rows => 10
			.clear
			#counter
				140
			.clear.medium
			= f.submit