= link_to "Images", admin_images_url
\--
= link_to "New", new_admin_image_url
.clear.medium
= link_to "New update", new_admin_update_url
.clear.medium
= link_to "Posts", admin_posts_url
\--
= link_to "New", new_admin_post_url
.clear.medium
= link_to "Bookmarks", admin_bookmarks_url
\--
= link_to "New", new_admin_bookmark_url
.clear.medium
= link_to "Subscriptions", admin_subscriptions_url
\--
= link_to "New", new_admin_subscription_url