= f.label :title
.clear
= f.text_field :title
.clear.medium
= f.label :permalink
.clear
= f.text_field :permalink
.clear.medium
Tag list
.clear
= f.text_field :tag_list
.clear.medium
= f.label :published_time
.clear
= f.date_select :published_at
= f.time_select :published_at, :value => @post.published_at, :default => Time.now, :ignore_date => true
.clear.medium
= f.label :body
.clear
= f.text_area :body, :cols => 80
.clear.medium
= f.label :excerpt
.clear
= f.text_area :excerpt, :cols => 80
.clear.medium
= f.submit