#item_container
	#posts_container
		All
		= @posts.size 
		entries
		.clear.medium
		- @posts.each do |post|
			%a{ :href => "/#{post.permalink}" }
				= post.published_at.strftime("%b %d, %Y")
				\-
				= post.title
			= link_to "[Edit]", edit_admin_post_path(post)
			.clear.medium