#item_container
	#posts_container
		= link_to "New post", new_admin_post_url
		.clear.medium
		All
		= @posts.size 
		entries
		.clear.medium
		- @posts.each do |post|
			%a{ :href => "/#{post.permalink}" }
				= post.published_at.strftime("%b %d, %Y") if post.published_at.present?
				\-
				= post.title if post.title.present?
			= link_to "[Edit]", edit_admin_post_path(post)
			.clear.medium