#item_container
	All
	= @posts.size
	posts:
	#posts_container
		- year = nil
		- @posts.each do |post|
			- unless post.published_at.year == year
				- year = post.published_at.year
				.posts_subheader
					= year
				.clear.medium
			%a{ :href => "/#{post.permalink}" }
				= post.title
				\-
				= post.published_at.strftime("%b %d")
			.clear.medium
		.posts_subheader
			= link_to "RSS", writing_path(:format => :rss)
:javascript
	$("#writing").addClass('selected');