#item_container
	#posts_container
		#posts_header
			All
			= @posts.size 
			entries
		.clear.medium
		- year = nil
		- @posts.each do |post|
			- unless post.published_at.year == year
				- year = post.published_at.year
				.posts_subheader
					= year
				.clear.medium
			%a{ :href => "/#{post.permalink}" }
				= post.title
				\-
				= post.published_at.strftime("%b %d")
			.clear.medium