= form_for @image, :as => :image, :url => { :action => :create }, :html => {:multipart => true} do |f|
	Tag list
	= f.text_field :tag_list
	.clear.medium
	= f.label :permalink
	= f.text_field :permalink
	.clear.medium
	= f.file_field :image
	.clear.medium
	= f.submit