= form_for @bookmark, :url => { :action => :create } do |f|
	URL
	.clear
	= f.text_field :url
	.clear.medium
	Title
	.clear
	= f.text_field :title
	.clear.medium
	Note
	.clear
	= f.text_field :note
	.clear.medium
	Tag list
	.clear
	= f.text_field :tag_list, :value => "\"public\""
	.clear.medium
	= render :partial => "tweet/tweet_field"
	.clear.medium
	= f.submit "Post"
:javascript
	if($("#bookmark_url").val() != ""){
		shorten($("#bookmark_url").val());
	}
	if($("#bookmark_title").val() != ""){
		$("#update_body").val($("#bookmark_title").val() + " : " + 
													$("#update_body").val());	
	}
	$("#bookmark_url").blur(function(){shorten($("#bookmark_url").val());});
	$("#bookmark_title").blur(function(){
			$("#update_body").val($("#bookmark_title").val() + " : " + 
														$("#update_body").val());
		});
	$("#bookmark_note").blur(function(){
			$("#update_body").val($("#bookmark_note").val() + " : " + 
														$("#update_body").val());
		});		