- action ||= "create"
= form_for @subscription, :url => { :action => "#{action}" } do |f|
	URL
	.clear
	= f.text_field :url
	.clear.medium
	Name
	.clear
	= f.text_field :name
	.clear.medium
	- text = action == "create" ? "Add subscription" : "Update subscription"
	= f.submit text